body {
    cursor: url("/img/icon/cursor/cursor_open.gif"), auto;
    font-family: Futura,Trebuchet MS,Arial,sans-serif; 
}

button {
    transition-duration: 0.2s;
    transition-property: all;
    padding: 5px 10px;
    border-radius: 0;
    border-width: 0;
}

input {
    border: 1px solid #000;
    padding: 5px;
    margin: 5px;
    min-width: 300px;
}